cache_expiration=-1
require_signed_keys=true
certificate_exchange_enabled=false
certificate_exchange_keystore=development_certificates/clientKeystore.jks
key_path=test_data/
kdi_key_stores_path=test_data
key_store_password=asdqwe
public_key_lookup_enabled=true
public_key_lookup_url=https://127.0.0.1:8443
//public_key_lookup_url=https://52.59.242.121:8443
trust_store=development_certificates/trustStore
trust_store_password=asdqwe
signing_key_alias=client
public_api_key=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
private_api_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
key_dist_credentials=UNTRUSTED_API_KEY
backend_IP=127.0.0.1
backend_port=1337
default_key_validity=8
automatic_rekeying=true